rootfs/*/Windows/registry/SOFTWARE filter=lfs diff=lfs merge=lfs -text
rootfs/*/Windows/registry/SYSTEM filter=lfs diff=lfs merge=lfs -text
rootfs/*/Windows/registry/* filter=lfs diff=lfs merge=lfs -text
